/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;


.secondFontColor
{
    color: $secondFontColor;
}
.btn-mine
{
    background-color: $lightBgColor;
    color: $fontColor;
}
.btn-outline-mine
{
    color: $lightBgColor;
    border: solid 1px $lightBgColor;
}

body
{
    background-color: $bgColor !important;
    color: $fontColor;
    font-family: 'Montserrat Alternates', sans-serif;
    
}
.vote
{
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: $lightBgColor;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
}
.brdr
{
    height: $borderHeight;
    background-color: $borderColor;
}

.bgColor{
    background-color:$bgColor;
}
.nav-shadow
{
    box-shadow:0 0 8px rgba(51, 51, 51, 0.3);
}
/*
a
{
    color: $fontColor !important;
}
.movie-layer
{position: relative;}
.movie-caption
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: $bgTransparent;
    padding: 10px;
    font-size: 14px;
    color: #fff !important;
}*/
img{
    width: 100%;
}
.bgMain
{
    background-color: $bgColor;
}
.bgLight
{
    background-color: $lightBgColor;
}
.movie
{
    cursor:pointer;
}
.tv
{
    cursor:pointer;
}
.logout
{
    cursor:pointer;
}

nav
{
    box-shadow:0 0px 8px rgba(51, 51, 51, 0.3);
}
nav  ul li a
{
    color:#fff !important;
}
nav
{
    font-size:1.1rem !important;
}
